@use 'reset';
@use 'vars';

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: vars.$primary-color;
    height: 20em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__img {
        width: 13em;
        height: 11em;
    }
    &__nav {
        display: flex;
        justify-content: space-around;
        width: 15em;
        color: vars.$link-color;
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: underline .05em vars.$link-color;
        text-underline-offset: .05em;
        &__link:hover {
            font-size: 1.6rem;
            transition: .3s;
        }
    }
}

.main {
    padding: 6em 24.5em;
    color: vars.$primary-color;
    &__title{
        font-size: 3em;
        font-weight: bold;
        padding-bottom: 1.5em;
    }
    &__article {
        padding-bottom: 2em;
        &__title {
            font-size: 2em;
            padding-bottom: 0.8em;
        }
        &__paragraph {
            padding-bottom: 0.8em;
            line-height: 1.5em;
        }
        &__logoList {
            display: flex;
            justify-content: center;
            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 11em;
                height: 11em;
                margin: 2em 0.4em;
                background-color: vars.$logo-background;
                border-radius: 50%;
                &__img {

                    padding: 1em;
                }
            }
        }
    }
}

.footer {
    height: 10em;
    background-color: #01343B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    &__paragraph {
        font-size: 1.5em;
        color: #FFF;
    }
}